<nav>
    <div class="nav-wrapper light-green">
      <a href="/" class="brand-logo">Welcome to Secret Note</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
            <li><a href="/">Horoscopes</a></li>
        <% if (!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
        <% } else { %>
            <li><a href="/profile">My Secret Note</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        
        <% } %> 
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <% if (!currentUser) { %>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
      <% } else { %>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
      <% } %>
  </ul>