<div class="container">
    <div class="row">
      <h1 class="scale-in-hor-left center-align">Welcome to Secret World</h1>
      <div class="row">
        <div class="col s12 ">
          <div class="home" style="background-image: url(/assets/img/background\ zodiac.jpg);">
            <span class="white-text" style="font-family: 'Dancing Script', cursive;">
            <h4 class="scale-in-hor-left1 center-align"> If you need help with being better instead of bitter </h4>
            <h4 class="scale-in-hor-left2 center-align"> Secret Note can guide you on the journey.</h4>
            <h4 class="scale-in-hor-left3 center-align"> Let's start the journey! </h4>
            </br>
            <h4 class="scale-in-hor-left4 center-align"><a href="index" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Secret of Signs</a>
            <a href="profile" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Secret Notes</a> </h4>
            </span>
          </div>
        </div>
      </div>