<h2>Profile Page</h2>
<h3>SECRET NOTES</h3>

<% if(quote.length > 0) { %>
    <div class = well>
    <% quote.forEach(q =>{ %>
        <p><%= q.content %></p>
        <p><%= q.author %></p>
    </div>
    <a href="/profile<%= quote %>">Delete</a>
        <form method="POST" action="/profile<%= quote %>/?_method=DELETE">
            <input type="submit" value="Delete">
    <% }) %> 
<% } else { %>
    <p>No quotes added</p>
<% }  %>  
