body {
  background-image: url(/assets/img/background.jpg);
  background-size: cover;
}

.equal-col {
  display: flex;
  flex-wrap: wrap;
}

.textred {
  color: brown;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}